.jumbotron {
  text-align: center;
  background-color: #FF706F;
}

body {
  background-color: #FF8A87;
}

li {
  list-style-type: none;
}

#pizzaResult {
  display: none;
  font-weight: bold;
  font-size: 22px;
}

#priceMenu {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-size: 40px;
}
